.searchBanner{
    background-color: rgb(147, 144, 144);
    height: 100px;
    font-size: 3rem;
    color: white;
    padding: auto;
    .searchBar{
        width: 40%;
        height: 90px;
        background-color:inherit;
        font-size:3rem;
        border:0;
        color: white;
        margin-left:3rem;
    selected{
        border: 1 red;
    }
    }
    .FaSearch{
        margin-left: 5%;
    }
}