.sideBar{
	width:500px;
	margin-right:50px;
  overflow: hidden;
  max-height: 90vh;
}
.contentContainer{
	background-color: rgb(237, 237, 237);
	display: flex;
	justify-content:space-between;
	
}
.header{
	display: flex;
	height: 10vh;
	color: #ffffff;
	background-color: rgb(158, 155, 155);
	margin: 0;
}

.mainContent{
	width: 1500px;
}